<header>
  <app-container>
    <mat-toolbar>
      <img src="assets/imagens/logo.png" alt="Logo da aplicação Jornada">
      <ul>
        <li>
          <button mat-button>Vender milhas</button>
        </li>
        <li>
          <button mat-button>Sobre</button>
        </li>
        <li>
          <button mat-raised-button color="primary">CADASTRE-SE</button>
        </li>
        <li>
          <button mat-stroked-button>LOGIN</button>
        </li>
      </ul>
    </mat-toolbar>
  </app-container>
</header>
