header {
  background-color: black;

  .mat-toolbar {
    justify-content: space-between;
    background-color: black;
    color: white;

    nav {
      display: flex;
      gap: 16px;

      .mat-stroked-button:not(:disabled) {
        border-color: white;
      }
    }
  }
}
