.card {
  box-sizing: border-box;
  max-width: 320px;
  background-color: #FEF7FF;
  border: none;
  box-shadow: none;

  img {
    max-width: 56px;
    max-height: 56px;
  }

  .card-content {
    display: flex;
    gap: 16px;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
