<app-card variant="secondary" class="card">
  <form>
    <h2>Passagens</h2>
    <div class="form-container">
      <mat-button-toggle-group aria-label="Tipo de passagem">
        <mat-button-toggle >
          <mat-icon fontIcon="check"></mat-icon>
          IDA E VOLTA
        </mat-button-toggle>
        <mat-button-toggle>SOMENTE IDA</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip-list aria-label="Seleção de passagens">
          <mat-chip selected>1 Adulto</mat-chip>
          <mat-chip>Econômica</mat-chip>
      </mat-chip-list>
    </div>
  </form>
</app-card>
