.card {
  display: block;
  margin: 40px 0;

  form {

    h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }

    .form-container {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 16px;
    }

    .input-container {
      display: flex;
      align-items: center;
      gap: 16px;

      .input-field {
        max-width: 240px;
      }

      .datepicker-field {
        max-width: 155px;
      }

      .icon-sm {
        margin-right: 6px;
      }

      .sync-alt-button {
        width: 24px;
      }
    }

    .search-button {
      flex: 1 1 auto;
    }
  }
}

.mat-button-toggle-checked {
  background-color: #F7F2FA;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}
