<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="age-selection-container">
      <div class="age-selection">
        <p><strong>Adultos</strong></p>
        <p>(Acima de 12 anos)</p>
        <div class="count-container">
          <app-button-counter operation="decrement"></app-button-counter>
          <p><span>1</span></p>
          <app-button-counter operation="increment"></app-button-counter>
        </div>
      </div>
      <div class="age-selection">
        <strong>Crianças</strong>
        <p>(Entre 2 e 11 anos)</p>
        <div class="count-container">
          <app-button-counter operation="decrement"></app-button-counter>
          <p><span>1</span></p>
          <app-button-counter operation="increment"></app-button-counter>
        </div>
      </div>
      <div class="age-selection">
        <strong>Bebês</strong>
        <p>(Até 2 anos)</p>
        <div class="count-container">
          <app-button-counter operation="decrement"></app-button-counter>
          <p><span>1</span></p>
          <app-button-counter operation="increment"></app-button-counter>
        </div>
      </div>
    </div>
    <div class="category-selection">
      <p><strong>Categoria</strong></p>
      <mat-chip-list aria-label="Seleção de categoria">
        <mat-chip selected>
          <div class="icon-label-container">
            <mat-icon class="icon-sm">check</mat-icon>
            Econômica
          </div>
        </mat-chip>
        <mat-chip>
          <div class="icon-label-container">
            <mat-icon class="icon-sm">check</mat-icon>
            Executiva
          </div>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="modal-actions">
    <button mat-flat-button class="cancel-button">Cancelar</button>
    <button mat-flat-button color="primary">Aplicar</button>
  </div>
</section>
