<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="contador-passageiro-container">
      <app-contador-passageiro
        titulo="Adultos"
        subtitulo="(Acima de 12 anos)"
        [formControl]="formPassagemService.adultos"
      ></app-contador-passageiro>
      <app-contador-passageiro
        titulo="Crianças"
        subtitulo="(Entre 2 e 11 anos)"
        [formControl]="formPassagemService.criancas"
      ></app-contador-passageiro>
      <app-contador-passageiro
        titulo="Bebês"
        subtitulo="(Até 2 anos)"
        [formControl]="formPassagemService.bebes"
      ></app-contador-passageiro>
    </div>
    <div class="category-selection">
      <p><strong>Categoria</strong></p>
      <mat-chip-list aria-label="Seleção de categoria">
        <mat-chip
          [selected]="formPassagemService.categoria.value === 'Econômica'"
          (click)="formPassagemService.categoriaSelected('Econômica')"
        >
          <div class="icon-label-container">
            <mat-icon class="icon-sm">check</mat-icon>
            Econômica
          </div>
        </mat-chip>
        <mat-chip
          [selected]="formPassagemService.categoria.value === 'Executiva'"
          (click)="formPassagemService.categoriaSelected('Executiva')"
        >
          <div class="icon-label-container">
            <mat-icon class="icon-sm">check</mat-icon>
            Executiva
          </div>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="modal-actions">
    <button mat-flat-button class="cancel-button">Cancelar</button>
    <button mat-flat-button color="primary">Aplicar</button>
  </div>
</section>
