.contador-passageiro {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .contador-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;

    .incremento {
      background-color: #E8DEF8;
    }

    .decremento {
      background-color: #E5E4E2;
    }
  }
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1D1B20;
  margin: 0px;
}
