<app-banner
  src="assets/imagens/banner-homepage.png"
  alt="Banner da aplicação Jornada"
></app-banner>
<app-container>
  <app-form-search></app-form-search>
  <h2>Promoções</h2>
  <div class="card-wrapper" *ngIf="promocoes$ | async as promocoes">
    <div *ngFor="let promocao of promocoes">
      <app-card-promocao [promocao]="promocao"></app-card-promocao>
    </div>
  </div>
  <h2>Depoimentos</h2>
  <div class="card-wrapper">
    <div *ngFor="let testimonial of testimonials">
      <app-card-testimonial
        [src]="testimonial.src"
        [alt]="testimonial.alt"
        [text]="testimonial.text"
        [authorship]="testimonial.authorship"
      >
      </app-card-testimonial>
    </div>
  </div>
</app-container>
