<app-card variant="secondary" class="card">
  <form [formGroup]="formPassagemService.formPassagem">
    <h2>Passagens</h2>
    <div class="form-container">
      <div class="input-container">
        <mat-button-toggle-group
          aria-label="Tipo de passagem"
          formControlName="somenteIda"
        >
          <mat-button-toggle [value]="false">
            <div class="icon-label-container">
              <mat-icon
                class="icon-sm"
                fontIcon="check"
                *ngIf="!formPassagemService.somenteIda.value"
              ></mat-icon>
              IDA E VOLTA
            </div>
          </mat-button-toggle>
          <mat-button-toggle [value]="true">
            <div class="icon-label-container">
              <mat-icon
                class="icon-sm"
                fontIcon="check"
                *ngIf="formPassagemService.somenteIda.value"
              ></mat-icon>
              SOMENTE IDA
            </div>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-chip-list aria-label="Seleção de passagens">
          <mat-chip (click)="formPassagemService.openDialog()">
            <div class="icon-label-container">
              <mat-icon class="icon-sm">check</mat-icon>
              {{ formPassagemService.descricaoPassageiros }}
            </div>
          </mat-chip>
          <mat-chip (click)="formPassagemService.openDialog()">
            <div class="icon-label-container">
              <mat-icon class="icon-sm">check</mat-icon>
              {{ formPassagemService.categoria.value }}
            </div>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="form-container">
      <div class="input-container">
        <app-dropdown-estado
          class="input-field"
          label="Origem"
          matPrefix="flight_takeoff"
          [estadoCtrl]="formPassagemService.origem"
        ></app-dropdown-estado>
        <button
          mat-icon-button
          class="sync-alt-button"
          (click)="formPassagemService.trocarOrigemDestino()"
        >
          <mat-icon>sync_alt</mat-icon>
        </button>
        <app-dropdown-estado
          class="input-field"
          label="Destino"
          matPrefix="flight_land"
          [estadoCtrl]="formPassagemService.destino"
        ></app-dropdown-estado>
      </div>
      <div class="input-container">
        <mat-form-field class="datepicker-field" appearance="outline">
          <mat-label>Data de ida</mat-label>
          <input matInput [matDatepicker]="departure">
          <mat-datepicker-toggle matSuffix [for]="departure"></mat-datepicker-toggle>
          <mat-datepicker #departure></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="datepicker-field" appearance="outline">
          <mat-label>Data de volta</mat-label>
          <input matInput [matDatepicker]="return">
          <mat-datepicker-toggle matSuffix [for]="return"></mat-datepicker-toggle>
          <mat-datepicker #return></mat-datepicker>
        </mat-form-field>
      </div>
      <button
        mat-flat-button
        class="search-button"
        color="primary"
        (click)="buscar()"
      >
        BUSCAR
      </button>
  </div>
  </form>
</app-card>
